.card__tall {
  display: flex;
}

.card__tall:hover .card__pic {
  filter: none;
}

@media (max-width: 1024px) {
  .card__tall {
    flex-direction: column;
  }
}

@media (max-width: 744px) {
  .card__tall {
    flex-direction: row-reverse;
  }
}

@media (max-width: 599.98px) {
  .card__tall {
    flex-direction: column;
  }
}
