.header__burger_active::before,
.header__burger_active::after {
  top: 50%;
  background-color: var(--color-red);
}

.header__burger_active::before {
  transform: rotate(45deg);
}

.header__burger_active::after {
  bottom: auto;
  transform: rotate(-45deg);
}

.header__burger_active .header__burger-line {
  opacity: 0;
}


