.card__slave {
  display: flex;
}

.card__slave:hover .card__pic {
  filter: none;
}

@media (max-width: 1024px) {
  .card__slave {
    flex-direction: column;
  }
}

@media (max-width: 744px) {
  .card__slave {
    flex-direction: row;
  }
}

@media (max-width: 599.98px) {
  .card__slave {
    flex-direction: column;
  }
}
