.resume__btn_simple_zarplata {
  background-image: url(resume__btn_simple_zarplata.svg);
  background-repeat: no-repeat;
  background-position: center left 20px;
  background-size: 20px 20px;
  transition: background-image .3s ease;
}

.resume__btn_simple_zarplata:hover {
  background-image: url(resume__btn_simple_zarplata-hover.svg);
}

@media (max-width: 1024px) {
  .resume__btn_simple_zarplata {
    background-position: center left 15px;
    background-size: 15px 15px;
  }
}
