.resume__btn_simple_trudvsem {
  background-image: url(resume__btn_simple_trudvsem.svg);
  background-repeat: no-repeat;
  background-position: center left 20px;
  background-size: 19px 20px;
  transition: background-image .3s ease;
}

.resume__btn_simple_trudvsem:hover {
  background-image: url(resume__btn_simple_trudvsem-hover.svg);
}

@media (max-width: 1024px) {
  .resume__btn_simple_trudvsem {
    background-position: center left 15px;
    background-size: 15px 16px;
  }
}
