.card__full {
  grid-column: span 2;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  min-height: 350px;
}

.card__full:hover .card__pic {
  filter: none;
}

@media (max-width: 1440px) {
  .card__full {
    min-height: 300px;
  }
}

@media (max-width: 744px) {
  .card__full {
    min-height: 250px;
  }
}
