.list__item {
  background-image: url(list__item.svg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 176px 200px;
  min-height: 300px;
}

@media (max-width: 1024px) {
  .list__item {
    background: none;
    min-height: auto;
  }
}
