.header__logo {
  font-size: 0;
  width: 30px;
  height: 50px;
  background-image: url(header__logo-dark.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__logo:hover {
  background-image: url(header__logo-red.svg);
}

@media (max-width: 1439.98px) {
  .header__logo {
    width: 25px;
    height: 42px;
  }
}

@media (max-width: 1023.98px) {
  .header__logo {
    background-image: url(header__logo-green.svg);
    width: 18px;
    height: 30px;
  }
}
