.portfolio {
  margin-bottom: 100px;
}

@media (max-width: 1280px) {
  .portfolio {
    margin-bottom: 80px;
  }
}

@media (max-width: 1024px) {
  .portfolio {
    margin-bottom: 70px;
  }
}

@media (max-width: 744px) {
  .portfolio {
    margin-bottom: 50px;
  }
}

@media (max-width: 599.98px) {
  .portfolio {
    margin-bottom: 40px;
  }
}
