.card__pic_slave {
  max-width: 300px;
}

@media (max-width: 1440px) {
  .card__pic_slave {
    max-width: 200px;
  }
}

@media (max-width: 1024px) {
  .card__pic_slave {
    max-width: 260px;
    max-height: 100px;
  }
}

@media (max-width: 744px) {
  .card__pic_slave {
    max-width: 150px;
    max-height: 100%;
  }
}

@media (max-width: 599.98px) {
  .card__pic_slave {
    max-width: 100%;
    max-height: 150px;
  }
}
