.hero {
  position: relative;
  margin-top: 100px;
  margin-bottom: 150px;
}

@media (max-width: 1440px) {
  .hero {
    margin-bottom: 100px;
  }
}

@media (max-width: 1280px) {
  .hero {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

@media (max-width: 1024px) {
  .hero {
    margin-top: 50px;
    margin-bottom: 70px;
  }
}

@media (max-width: 744px) {
  .hero {
    margin-bottom: 50px;
  }
}

@media (max-width: 599.98px) {
  .hero {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}
