.mobile {
  display: none;
}

@media (max-width: 767.98px) {

  .mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
  }

}
