.header__link {
  font-family: 'Roboto+Condensed';
  font-size: 18px;
  color: var(--color-green);
  text-decoration: none;
  transition: color .3s ease;
}

.header__link:hover {
  color: var(--color-red);
}

.header__link:not(:last-child):after {
  content: '/';
  color: var(--color-grey);
  margin: 0 10px 0 5px;
}




