.hero__btn_main_mail {
  background-image: url(hero__btn_main_mail.svg);
  background-repeat: no-repeat;
  background-position: center left 20px;
  background-size: 20px 13px;
}

@media (max-width: 1024px) {
  .hero__btn_main_mail {
    background-position: center left 15px;
    background-size: 17px 11px;
  }
}
