.resume__btn-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 1024px) {
  .resume__btn-box {
    gap: 8px;
  }
}

@media (max-width: 599.98px) {
  .resume__btn-box {
    flex-direction: column;
    max-width: 200px;
  }
}
