.mobile__phone {
  margin: 0 0 20px 0;
  padding: 0;
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--color-green);
  font-size: 22px;
  transition: color .3s ease;
}

.mobile__phone:hover {
  color: var(--color-red);
}
