.card__btn_simple {
  border: 1px solid var(--color-green);
  color: var(--color-green);
  background-color: var(--color-white);
  transition: all .3s ease;
}

.card__btn_simple:hover {
  border-color: var(--color-red);
  color: var(--color-red);
}

