.burger{
  display: none;
}

@media (max-width: 767.98px) {

  .burger {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 16px;
    top: 0;
    background-color: var(--color-green);
    left: 0;
    right: 0;
    height: 50px;
    z-index: 20;
  }

}


