.contact__btn_simple_telegram {
  background-image: url(contact__btn_simple_telegram.svg);
  background-repeat: no-repeat;
  background-position: center left 18px;
  background-size: 20px 17px;
  transition: background-image .3s ease;
}

.contact__btn_simple_telegram:hover {
  background-image: url(contact__btn_simple_telegram-hover.svg);
}

@media (max-width: 1024px) {
  .contact__btn_simple_telegram {
    background-position: center left 8px;
    background-size: 17px 14px;
  }
}
