.contact__btn_simple_whatsup {
  background-image: url(contact__btn_simple_whatsup.svg);
  background-repeat: no-repeat;
  background-position: center left 19px;
  background-size: 20px 20px;
  transition: background-image .3s ease;
}

.contact__btn_simple_whatsup:hover {
  background-image: url(contact__btn_simple_whatsup-hover.svg);
}

@media (max-width: 1024px) {
  .contact__btn_simple_whatsup {
    background-position: center left 10px;
    background-size: 15px 15px;
  }
}
