.card__master-bread-item {
  font-size: 20px;
  line-height: 1.5;
  color: var(--color-bright);
}

.card__master-bread-item:not(:last-child)::after {
  margin-left: 5px;
  margin-right: 5px;
  content: '/';
}

@media (max-width: 744px) {
  .card__master-bread-item {
    font-size: 16px;
    line-height: 1.3;
  }
}
