.grid_col_quartet{
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 991.98px) {

  .grid_col_quartet{
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 575.98px) {

  .grid_col_quartet{
    grid-template-columns: 1fr;
  }

}
