.card__wide-description {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 16px;
  line-height: 1.5;
  color:var(--color-bright);
}

@media (max-width: 1024px) {
  .card__wide-description {
    font-size: 14px;
  }
}

@media (max-width: 744px) {
  .card__wide-description {
    margin-bottom: 5px;
  }
}

@media (max-width: 599.98px) {
  .card__wide-description {
    max-width: 400px;
  }
}
